<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XdPrototipo"
        tools:targetApi="31">
        <activity
            android:name="ui.Home.registrarUserActivity"
            android:exported="false" />
        <activity
            android:name="ui.Home.xdOrdersActivity"
            android:exported="false" />
        <activity
            android:name="ui.Home.inicializarActivity"
            android:exported="false" />
        <activity
            android:name="ui.Home.UserActivity"
            android:exported="false"
            android:label="@string/title_activity_user" />
        <activity
            android:name="ui.Home.definicoesActivity"
            android:exported="false" />
        <activity
            android:name="ui.Home.utilizadoresActivity"
            android:exported="false" />
        <activity
            android:name="ui.Home.planosEprecosActivity"
            android:exported="false" />
        <activity
            android:name=".xdVideosActivity"
            android:exported="false" />
        <activity
            android:name="ui.Home.xdVideosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

</manifest>